[Unit]
Description=Relution user upload sync
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/relution-sync/
User=root
Restart=always
ExecStart=/usr/bin/python3.10 /etc/relution-sync/relution-sync.py

[Install]
WantedBy=multi-user.target
